.container{
    display: grid;
    
    text-align: center;
    gap: 70px;
    margin: 60px auto;
}
.skills{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 40px;
}